# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Secret environment variables for Cloud Functions
functions/.env

# Firebase emulator runtime config
functions/.runtimeconfig.json

# Firebase function secrets
/functions/.env.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
staffsetu-dc743-firebase-adminsdk-fbsvc-2eca6ea437.json
# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

serviceAccountKey.json
services_with_categories.txt
seed.js